body {
    display: flex;
    justify-content: center;
    background-color: $light-blue;
}

footer.social-links {
    border: 1px solid $medium-lavendar;
    background-color: $medium-lavendar;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links > h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
}

.social-links > h2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.social-logo {
    width: 50px;
    min-height: 50px;
    margin: 20px;
}

// #start-instructions {
//     visibility: visible;
    
//     .h1 {
//         font-size: 100px;
//         color: white;
//         position: absolute;
//     }
// }

.canvas-wrap {
    width: auto;
}

#start-instructions {
    visibility: visible;
    // position: absolute;
    width: inherit;
    h1 {
        font-size: 100px;
        color: white;
        position: absolute;  
    }
}