//From coolers.com

$gunmetal: #022B3A;
$metal-seaweed: #1F7A8C;
$manatee: #8E9AAF;
$dark-lavendar: #CBC0D3;
$medium-lavendar: #DEE2FF; 
$light-lavendar: #E1E5F2;
$light-blue: #BFDBF7;
$pink: #EFD3D7;
$pale-purple: #FEEAFA;
$white: #FFFFFF;